{% extends "demo.base.html.twig" %}

{% block pageTitle %}demo 21{% endblock %}

{% block body %}
    <h3>Ajout d'un étudiant</h3>
    <p>Méthode HTTP utilisée par le client: {{ method }}</p>
    <p>
        Données postées:
        {% for data in postData %} {{data}} {% endfor %}
    </p>

    {% if method == "POST" %}
        <p>L'étudiant <strong>{{ postData[0] }}</strong> a été enregistré</p>
        <p>
            <a href="/demo21">Ajouter un étudiant</a>
        </p>
    {% else %}
        <form method="POST">
            <input type="text" name="name" placeholder="Nom" />
            <br>
            <input type="text" name="status" placeholder="Status" />
            <br>
            <select name="country">
            {% for country in countries %}
                <option value="{{country.id}}">{{ country.name }}</option>
            {% endfor %}
            </select>
            <br>
            <input type="submit" value="Enregistrer" />
        </form>
    {% endif %}


{% endblock %}